Audience is not returned in data of JWT

According to docs, returned JWT would include the audience by default as
```
 "aud": ["CLIENTID"],
```

Instead, it returns empty audience list.

See:
```
In [64]: data = {'scope': 'user:email:main,user:memberof:aliorg'}

In [65]: r = requests.post(url, data=json.dumps(data), headers=headers)

In [66]: jose.jwt.get_unverified_claims(r.text)
Out[66]: 
{'aud': [''],
 'azp': 'aliorg',
 'exp': 1495808855,
 'globalid': 'aliorg',
 'iss': 'itsyouonline',
 'scope': ['organization:owner']}
```

Explicitly asking for "external" audience also returned same empty list
```
In [67]: data = {'scope': 'user:email:main,user:memberof:aliorg', 'aud': 'aliorg'}

In [68]: r = requests.post(url, data=json.dumps(data), headers=headers)

In [69]: jose.jwt.get_unverified_claims(r.text)
Out[69]: 
{'aud': [''],
 'azp': 'aliorg',
 'exp': 1495808855,
 'globalid': 'aliorg',
 'iss': 'itsyouonline',
 'scope': ['organization:owner']}
```

Is it possible to provide some more context (like full url, etc)? The `aud` claim doesn't seem to get set when not explicitly requesting it, however i do get the audiences when I set them as a parameter in the request.

Full url: 'https://itsyou.online/v1/oauth/jwt'
Headers = {'Authorization': 'token %s' % access_token}

To get the access token:
```
params = {'grant_type': 'client_credentials',
              'client_id':client_id ,
              'client_secret': client_secret}
resp = session.post('https://itsyou.online/v1/oauth/access_token', params=params)
access_token = resp.json()['access_token']
```


The audience claim will no longer be set in case it is not explicitly requested (also updated the docs), in accordance to [RFC7519 section 4.1.3.](https://tools.ietf.org/html/rfc7519#section-4.1.3)